*, html{
  margin: 0;
  padding: 0;
}

body{
    background-color: #ecf0f5;
    overflow: auto;
}

.content{
    background: #eeeeee;
    border-radius: 10px;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 2px;
    color: #676767;
    margin-top: 50px;
}

.navbar {
    position: fixed;
    background: #605ca8;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -60px !important;  /* 50% of your logo width */
    display: block;
    color: white;
    font-size: 28pt;
}

.bg-lightgray{
    width: 100%;
    position: fixed;
    background-color:LightGray;
    bottom: 0;
}

@media (min-width: 400px) {
    .bg-lightgray {
        display: none;
    }
}
