body{
    background-color: #ecf0f5;
}

footer.bg-lightgray {
    display: none;
}

div.box-add-edit{
    padding: 20px 40px;
}

.img-edit-user{
    width: 100%;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

#bgLogin{
    display: none;
}

div.login > div{
    padding: 10px 15px;
}

#idplogin{
    padding: 0 10px;
    text-align: center;
    font-size: 16pt;
}

.helpbuttons{
    padding: 10px 0;
    cursor: pointer;
}

#loginbody {
    padding: 20px 20px 0 20px;
}

@media (min-width: 500px){
    div.login{
        width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 400px) and (min-height: 400px){
    #loginbody{
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-height: 600px){
    footer.bg-lightgray{
        display: block;
        width: 100%;
        position: fixed;
        background-color:LightGray;
        bottom: 0;
        margin: 20px 0 0 0;
    }
    #bgLogin{
        display: block;
        position: fixed;
        height:100%;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0
}
